.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: right;
  font-family: 'montserratblack', Arial, sans-serif;
  font-size: @font-menu;
  z-index: 999;
  
  ul {
    display: inline-block;
  }
  
  a {
    padding: 1rem 2rem;
  }
}