#home {
  height: 100%; 
  background-image: url(../images/bg-home.jpg);

  .content {
    padding-top: 9.5rem;

    @media (max-height: @design-height) {
      padding-top: 5rem;
    }
  }

  h1 {
    font-size: 6.44rem;
    text-transform: uppercase;
    font-family: 'montserratblack', Arial, sans-serif;
    width: auto;
    display: inline-block;
    margin: 0;
    padding: 3.33rem 4.2rem;
    border: 1.11rem solid white;

    @media (max-width: @mid-laptop) {
      font-size: 5rem;
      padding: 2.33rem 3.2rem;
    }

    @media (max-width: @max-mobile) {
      font-size: 3rem;
      padding: 1rem 2rem;
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 1.33rem;
    line-height: 1.4;
    margin: 2.77rem 0;

    span {
      display: block;
    }
  }
}
