#home {
  background-image: url(../images/bg-home.jpg);

  .content {
    padding-top: 9.5rem;

    @media (max-height: @design-height) {
      padding-top: 5rem;
    }

    @media (max-width: @max-mobile) {
      > img {
        width: 70px;
      }
    }
  }

  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'montserratblack', Arial, sans-serif;
    width: auto;
    display: inline-block;
    margin: 0;
    padding: 3.33rem 4.2rem;
    border: 1.11rem solid white;
    text-shadow: 1px 1px 0px rgba(150, 150, 150, .5);
    color: @blueDark;

    @media (max-width: @mid-laptop) {
      font-size: 4rem;
      padding: 2.33rem 3.2rem;
    }

    @media (max-width: @max-mobile) {
      font-size: 2.5rem;
      padding: 1rem 2rem;
    }

    @media (max-width: 400px) {
      font-size: 2rem;
      border: .5rem solid white;
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 1.33rem;
    line-height: 1.4;
    margin: 2.77rem 0;

    span {
      display: block;
    }
  }
}
