.icon-mouse {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.icon-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 100%;
  background-color: white;
}

[class^="icon-social-"] {
  display: inline-block;
  width: 25px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.icon-social-twitter {
  background-image: url(../images/icon-twitter.png);
}

.icon-social-facebook {
  background-image: url(../images/icon-facebook.png);
}

.icon-social-linkedin {
  background-image: url(../images/icon-linkedin.png);
}