@font-face {
  font-family: 'montserratbold';
  src: url('../font/Montserrat-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratblack';
  src: url('../font/Montserrat-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratlight';
  src: url('../font/Montserrat-Hairline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url('../font/Montserrat-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 18px;
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
  font-family: 'montserratregular', Arial, sans-serif;
  overflow: hidden;
}
.pages {
  height: 100%;
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}
a {
  color: white;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: white;
  text-decoration: none;
}
.article-top-level {
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 11.11rem;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: right;
  font-family: 'montserratblack', Arial, sans-serif;
  font-size: 16px;
  z-index: 999;
}
.header ul {
  display: inline-block;
}
.header a {
  padding: 1rem 2rem;
}
#home {
  background-image: url(../images/bg-home.jpg);
}
#home .content {
  padding-top: 13rem;
}
#home h1 {
  font-size: 6.44rem;
  text-transform: uppercase;
  font-family: 'montserratblack', Arial, sans-serif;
  width: auto;
  display: inline;
  margin: 0;
  padding: 3.33rem 4rem;
  border: 1.11rem solid white;
}
.person-wrapper {
  position: fixed;
  bottom: 0;
  right: 50%;
  margin-right: -600px;
  transform: translateX(20px);
}
.person-wrapper img {
  display: block;
}
.person-wrapper .onscroll-show {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.person-wrapper.stopped {
  position: absolute;
}
