@font-face {
  font-family: 'montserratbold';
  src: url('../font/Montserrat-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratblack';
  src: url('../font/Montserrat-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratlight';
  src: url('../font/Montserrat-Hairline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url('../font/Montserrat-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
[class^="col-"] {
  display: inline-block;
}
[class^="col-vertical-"] {
  display: block;
  width: 100%;
}
.col-25 {
  width: 25%;
}
.col-50 {
  width: 50%;
}
.col-vertical-50 {
  height: 50%;
}
.col-vertical-75 {
  height: 75%;
}
.col-vertical-25 {
  height: 25%;
}
.col-80 {
  width: 80%;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 18px;
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
  font-family: 'montserratregular', Arial, sans-serif;
}
.pages {
  height: 100%;
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}
button {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-family: 'montserratblack', Arial, sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: white;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
strong {
  font-weight: normal;
  font-family: 'montserratbold', Arial, sans-serif;
}
p {
  margin: 1rem 0;
  font-family: 'montserratlight', Arial, sans-serif;
  line-height: 1.66rem;
}
.article-top-level {
  min-height: 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 11.11rem;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.color-blue {
  color: #8bb9ff;
}
.break-span {
  display: block;
}
.vertical-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertical-push-50 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: top;
}
.icon-mouse {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.icon-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 100%;
  background-color: white;
}
[class^="icon-social-"] {
  display: inline-block;
  width: 25px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
.icon-social-twitter {
  background-image: url(../images/icon-twitter.png);
}
.icon-social-facebook {
  background-image: url(../images/icon-facebook.png);
}
.icon-social-linkedin {
  background-image: url(../images/icon-linkedin.png);
}
ul[rn-carousel] > li {
  color: white;
}
.rn-carousel-control-prev,
.rn-carousel-control-next {
  background-image: url(../images/icon-chevron-left.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  width: 3rem;
  height: 5rem;
  cursor: pointer;
}
.rn-carousel-control-prev:before,
.rn-carousel-control-next:before {
  display: none;
}
.rn-carousel-control-next {
  background-image: url(../images/icon-chevron-right.png);
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: right;
  font-family: 'montserratblack', Arial, sans-serif;
  font-size: 16px;
  z-index: 999;
}
.header ul {
  display: inline-block;
}
.header button {
  padding: 1rem 2rem;
  font-size: 16px;
}
#home {
  background-image: url(../images/bg-home.jpg);
}
#home .content {
  padding-top: 9.5rem;
}
#home h1 {
  font-size: 6.44rem;
  text-transform: uppercase;
  font-family: 'montserratblack', Arial, sans-serif;
  width: auto;
  display: inline-block;
  margin: 0;
  padding: 3.33rem 4.2rem;
  border: 1.11rem solid white;
}
#home h2 {
  text-transform: uppercase;
  font-size: 1.33rem;
  line-height: 1.4;
  margin: 2.77rem 0;
}
#home h2 span {
  display: block;
}
#czym-jest-emerytura-sportowca {
  background-image: url(../images/bg-what.jpg);
}
#czym-jest-emerytura-sportowca.going-down .person-wrapper {
  position: absolute;
}
#czym-jest-emerytura-sportowca h1 {
  font-size: 3.33rem;
  text-transform: uppercase;
  font-family: 'montserratblack', Arial, sans-serif;
  margin-bottom: 2rem;
}
.person-wrapper {
  position: fixed;
  bottom: 0;
  right: 50%;
  margin-right: -600px;
  transform: translateX(20px);
}
.person-wrapper img {
  display: block;
}
.person-wrapper .onscroll-show {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.person-wrapper.stopped {
  position: absolute;
}
#klienci-i-referencje {
  min-height: 85%;
  height: 85%;
}
#klienci-i-referencje .carousel {
  height: 100%;
}
#klienci-i-referencje .slide {
  height: 100%;
}
#klienci-i-referencje .quote-text-wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
#klienci-i-referencje .quote-text {
  width: 1170px;
  margin-left: 585px;
  margin: 0 auto;
  padding: 0 3.77rem;
}
#klienci-i-referencje .quote-text h1 {
  position: relative;
  font-size: 2.77rem;
  font-family: 'montserratblack', Arial, sans-serif;
  text-transform: uppercase;
  padding-left: 7rem;
  padding-right: 3rem;
}
#klienci-i-referencje .quote-text h1:before {
  content: '”';
  position: absolute;
  left: 0;
  top: -2rem;
  font-size: 26rem;
  line-height: 17rem;
  color: #8bb9ff;
  font-family: 'montserratregular';
  opacity: .1;
  letter-spacing: 1rem;
}
#klienci-i-referencje .quote-text h1:after {
  content: '';
  position: absolute;
  left: 7rem;
  bottom: -2rem;
  width: 7.5rem;
  height: .7rem;
  background-color: #496590;
}
#klienci-i-referencje .quote-text p {
  font-size: 1.22rem;
  margin: 3.5rem 0;
  padding-left: 7rem;
  padding-right: 3rem;
}
#klienci-i-referencje .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
#klienci-i-referencje .carousel-indicator {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  cursor: pointer;
}
#klienci-i-referencje .carousel-indicator:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/quotes/bg-overlay.png) repeat;
}
#klienci-i-referencje .carousel-indicator.active {
  -webkit-box-shadow: inset 0 0 0 5px #496590;
  -moz-box-shadow: inset 0 0 0 5px #496590;
  box-shadow: inset 0 0 0 5px #496590;
}
#klienci-i-referencje .carousel-indicator.active:after {
  display: none;
}
#klienci-i-referencje .rn-carousel-indicator {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}
#rozwiazania {
  background-image: url(../images/bg-offer.jpg);
}
#rozwiazania .content {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
}
#rozwiazania h1 {
  font-size: 3.88rem;
  text-transform: uppercase;
  text-align: right;
  font-family: 'montserratblack', Aria, sans-serif;
  line-height: 1;
  margin-bottom: 3.5rem;
}
#rozwiazania .col-50 {
  vertical-align: top;
}
#rozwiazania .col-50:first-of-type {
  padding-right: 1.3rem;
}
#rozwiazania .col-50:last-of-type {
  padding-left: 1.3rem;
}
#rozwiazania h2 {
  font-size: 1.66rem;
  margin: 1rem 0 2rem 0;
}
#rozwiazania li {
  background-image: url(../images/list-image.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 2rem;
  min-height: 22px;
}
#rozwiazania li p {
  display: block;
  margin: .5rem;
}
#rekomendacje {
  background-image: url(../images/bg-recommendation.jpg);
}
#rekomendacje .content {
  padding-top: 5.55rem;
  height: 100%;
}
#rekomendacje h1 {
  font-size: 3.88rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'montserratblack', Arial, sans-serif;
}
#rekomendacje .carousel {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
#rekomendacje .slide {
  height: 100%;
}
#rekomendacje li {
  height: 100%;
}
#rekomendacje li .content {
  padding: 0;
}
#rekomendacje .recommendation-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 57%;
  z-index: 2;
}
#rekomendacje .recommendation-wrapper img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 91%;
}
#rekomendacje .recommendation-wrapper .recommendation {
  position: absolute;
  left: 0;
  bottom: 6rem;
  width: 12.77rem;
}
#rekomendacje .recommendation-wrapper h2 {
  font-family: 'montserratblack', Arial, sans-serif;
  font-size: 2rem;
  position: relative;
}
#rekomendacje .recommendation-wrapper h2:before {
  content: '';
  position: absolute;
  left: 0;
  top: -2rem;
  width: 7.5rem;
  height: .7rem;
  background-color: #496590;
}
#rekomendacje .recommendation-wrapper.second {
  left: auto;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#rekomendacje .recommendation-wrapper.second .recommendation {
  position: absolute;
  left: auto;
  right: 0;
  bottom: 50%;
  margin-bottom: -4rem;
}
#rekomendacje .recommendation-wrapper.second img {
  right: auto;
  left: 0;
}
#rekomendacje .rn-carousel-control {
  top: 50%;
  margin-top: -2.5rem;
  opacity: 1;
}
#o-nas {
  min-height: 90%;
  height: 90%;
}
#o-nas .content {
  height: 100%;
  padding: 0;
}
#o-nas .carousel {
  height: 100%;
  background-image: url(../images/bg-dark-gradient.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
#o-nas .about-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 63%;
  z-index: 2;
  padding-top: 3.33rem;
  padding-bottom: 7rem;
}
#o-nas .about-content {
  padding-left: 15rem;
}
#o-nas .background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 63%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: 1;
}
#o-nas h1 {
  font-size: 3.88rem;
  font-family: 'montserratblack', Arial, sans-serif;
  text-transform: uppercase;
}
#o-nas h2 {
  font-size: 1.66rem;
  font-family: 'montserratbold', Arial, sans-serif;
  line-height: 1.6;
  margin: 2rem 0;
}
#o-nas p {
  line-height: 1.8;
}
#o-nas .rn-carousel-controls {
  width: 1170px;
  position: relative;
  margin: 0 auto;
}
#o-nas .rn-carousel-control {
  top: auto;
  bottom: 2rem;
  right: 0;
  width: 30px;
}
#o-nas .rn-carousel-control-prev {
  left: auto;
  right: 4rem;
  background-image: url(../images/icon-chevron-left-small.png);
}
#o-nas .rn-carousel-control-next {
  background-image: url(../images/icon-chevron-right-small.png);
}
#o-nas-po-godzinach {
  min-height: 65%;
  height: 65%;
}
#o-nas-po-godzinach .content {
  padding: 0;
  height: 100%;
  position: relative;
  z-index: 2;
}
#o-nas-po-godzinach .col-50 {
  height: 100%;
  vertical-align: top;
}
#o-nas-po-godzinach .col-vertical-25,
#o-nas-po-godzinach .col-vertical-75,
#o-nas-po-godzinach .col-vertical-50 {
  position: relative;
}
#o-nas-po-godzinach .col-80 {
  float: right;
  position: relative;
}
#o-nas-po-godzinach .col-80:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130%;
  height: 120%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background-image: url(../images/bg-text-gradient.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
#o-nas-po-godzinach .col-vertical-25 .col-80 h2 {
  display: inline-block;
  margin-right: .7rem;
}
#o-nas-po-godzinach .col-vertical-25 .col-80:after {
  display: none;
}
#o-nas-po-godzinach [class^="icon-social-"] {
  margin: 0 .7rem;
}
#o-nas-po-godzinach .opacity-30 {
  opacity: .3;
  margin-bottom: 0;
}
#o-nas-po-godzinach .opacity-50 {
  opacity: .5;
  margin-bottom: 1rem;
}
#o-nas-po-godzinach .partners {
  width: 80%;
}
#o-nas-po-godzinach .partners img {
  margin-right: 2rem;
  margin-top: 1rem;
}
#o-nas-po-godzinach h2,
#o-nas-po-godzinach h1 {
  font-size: 3.33rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'montserratblack', Arial, sans-serif;
}
#o-nas-po-godzinach h2 {
  font-size: 1.38rem;
}
#o-nas-po-godzinach .background-section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
#o-nas-po-godzinach .background-section .dark {
  background-image: url(../images/bg-dark-gradient.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
#o-nas-po-godzinach .background-section .blue {
  background-color: #496590;
}
#o-nas-po-godzinach .background-section .col-vertical-75 {
  background-image: url(../images/bg-about-afterhours.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#kontakt {
  min-height: 90%;
  height: 90%;
  background-image: url(../images/bg-contact.jpg);
}
#kontakt .content {
  padding-top: 5rem;
  height: 100%;
}
#kontakt .col-50 {
  vertical-align: top;
}
#kontakt h1 {
  font-size: 3.33rem;
  text-transform: uppercase;
  font-family: 'montserratblack', Arial, sans-serif;
  line-height: 1.2;
  position: relative;
}
#kontakt h1:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2.5rem;
  width: 7.5rem;
  height: .7rem;
  background-color: white;
}
#kontakt p {
  margin-top: 4rem;
  font-size: 1.22rem;
  line-height: 1.6;
}
#kontakt .form-wrapper {
  position: relative;
  height: 100%;
}
#kontakt form {
  width: 26.11rem;
  float: right;
  margin-top: -3rem;
}
#kontakt form div {
  margin: 2.77rem 0;
  position: relative;
}
#kontakt form label {
  left: 1.5rem;
  margin-top: 0;
  -webkit-transition: margin-top 0.4s ease-in-out;
  -moz-transition: margin-top 0.4s ease-in-out;
  -ms-transition: margin-top 0.4s ease-in-out;
  -o-transition: margin-top 0.4s ease-in-out;
}
#kontakt form .active label {
  margin-top: -3rem;
}
#kontakt input {
  width: 100%;
  height: 3.33rem;
  line-height: 3.33rem;
  padding: 0 1.5rem;
  background: rgba(255, 255, 255, 0.05);
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  font-family: 'montserratlight', Arial, sans-serif;
  color: white;
}
#kontakt button {
  width: 55%;
  background-color: #496590;
  padding: 1.2rem 4rem;
  color: white;
  font-family: 'montserratblack', Arial, sans-serif;
  font-size: 1.33rem;
  text-transform: uppercase;
  float: right;
}
#kontakt button:hover {
  background-color: #8bb9ff;
}
#biuro {
  background-image: url(../images/bg-office.jpg);
}
#biuro .content {
  padding-top: 7rem;
  padding-bottom: 3.33rem;
}
#biuro h1,
#biuro .table-cell {
  display: table-cell;
  vertical-align: top;
}
#biuro h1 {
  font-size: 3.33rem;
  color: #817447;
  font-family: 'montserratblack', Arial, sans-serif;
  text-transform: uppercase;
  padding-right: 3.33rem;
}
#biuro p {
  font-size: .8rem;
  line-height: 1.8;
}
#biuro .table-cell p:first-of-type {
  margin-top: .5rem;
}
#biuro h2 {
  color: #817447;
  font-size: 1.33rem;
  font-family: 'montserratbold', Arial, sans-serif;
  margin: 6rem 0 4rem 0;
}
#biuro .columns {
  width: 1200px;
  margin-left: -15px;
}
#biuro .col-25 {
  height: 18.8rem;
  position: relative;
  padding: 0 15px;
}
#biuro .bordered {
  width: 100%;
  height: 100%;
  border: 3px solid #817447;
  position: relative;
}
#biuro .vertical-center {
  text-align: center;
  padding: .5rem 1.3rem;
}
#biuro .circle {
  width: 3.88rem;
  height: 3.88rem;
  background-color: #817447;
  border-radius: 100%;
  position: absolute;
  top: -2rem;
  left: 50%;
  margin-left: -1.94rem;
  text-align: center;
  line-height: 3.88rem;
  color: white;
  font-family: 'montserratblack', Arial, sans-serif;
  font-size: 1.22rem;
  z-index: 1;
}
footer-section {
  display: block;
}
.footer {
  color: #d3d3d3;
  background-color: black;
  font-size: 1.1rem;
}
.footer .content {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
.footer h1 {
  font-size: 1.66rem;
  font-family: 'montserratblack', Arial, sans-serif;
  margin-bottom: .5rem;
}
.footer p {
  margin-top: 0;
  margin-bottom: 2rem;
}
.footer .no-margin {
  margin: 0;
}
.footer .socials {
  position: absolute;
  right: 0;
  top: 5.5rem;
}
.footer .socials a {
  margin: 0 .5rem;
}
