@font-face {
  font-family: 'montserratbold';
  src: url('../font/Montserrat-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratblack';
  src: url('../font/Montserrat-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratlight';
  src: url('../font/Montserrat-Hairline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url('../font/Montserrat-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-size: 18px;
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
  font-family: 'montserratregular', Arial, sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}
a {
  color: white;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: white;
  text-decoration: none;
}
.article-top-level {
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: right;
  font-family: 'montserratblack', Arial, sans-serif;
  font-size: 16px;
}
.header ul {
  display: inline-block;
}
.header a {
  padding: 1rem 2rem;
}
#home {
  background-image: url(../images/bg-home.jpg);
}
