#rekomendacje {
  background-image: url(../images/bg-recommendation.jpg);

  .content {
    padding-top: 5.55rem;
    height: 100%;
  }

  h1 {
    font-size: 3.88rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'montserratblack', Arial, sans-serif;

    @media (max-width: @mid-laptop) {
      font-size: 2.88rem; 
    }
  }

  .carousel {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .slide {
    height: 100%;
  } 

  li {
    height: 100%;

    .content {
      padding: 0;
    }
  }

  .recommendation-wrapper {
    display: table;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80%;
    width: 50%;
    text-align: center;
    z-index: 2;

    .person-circle {
      display: inline-block;
      height: 215px;
      width: 215px;
      opacity: 0;
      text-align: center;
      overflow: hidden;
      border: 8px solid white;
      border-radius: 100%;
      -webkit-box-shadow: 0px 0px 82px 8px rgba(125,165,225,0.65);
      -moz-box-shadow: 0px 0px 82px 8px rgba(125,165,225,0.65);
      box-shadow: 0px 0px 82px 8px rgba(125,165,225,0.65);
      .animated;

      img {
        display: inline-block;
      }
    }

    .recommendation {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      opacity: 0;
      z-index: 1;
      .animated;
      
      p {
        text-align: center;
        margin: .5rem 0 0 0;
      }
    }

    h2 {
      font-family: 'montserratblack', Arial, sans-serif;
      font-size: 2rem;
      position: relative;
      margin-top: 1rem;
    }

    &.second {
      left: auto;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  .rn-carousel-control {
    top: 50%;
    margin-top: -2.5rem;
    opacity: 1;
  }

  .active {
    .recommendation-wrapper {
      .recommendation {
        .fadeInUp;
      }

      .person-circle {
        .fadeInRight;
      }

      &.second {
        .recommendation {
          .fadeInDown;
        }

        .person-circle {
          .fadeInLeft;
        }
      }
    }
  }
}