<footer class="footer">
  <section class="content">
    <div class="contact-data">
      <h1>Nasz adres</h1>
      <p>Zapraszamy do bezpośredniego kontaktu po następującymi numerami:</p>
      <p class="no-margin"><strong>Jakub Kacprzak:</strong> 790-293-700</p>
      <p class="no-margin"><strong>Maciej Młynarz:</strong> 604-869-859</p>
      <p class="no-margin"><strong>Daniel Brud:</strong> 662-047-952</p>
      <p><strong>Karolina Ptak:</strong> 696-180-212</p>
      <p class="no-margin"><strong>Biuro:</strong></p>
      <p class="no-margin">Blich 3/4,</p>
      <p class="no-margin">31-502 Kraków</p>
      <p>(12) 123 456 7</p>
    </div>
    <div class="socials">
      <a href="#">
        <span class="icon-social-twitter"></span>
      </a>
      <a href="#">
        <span class="icon-social-facebook"></span>
      </a>
      <a href="#">
        <span class="icon-social-linkedin"></span>
      </a>
    </div>
    <p>Copyright Emerytura dla Sportowca 2015</p>
  </section>
</footer>