<header class="header" page-scroll>
  <img src="../../images/logo.png" alt="Emerytura dla sportowca logo" width="250" height="61" class="logo">
  <img src="../../images/logo-solo.png" alt="Emerytura dla sportowca logo solo" width="62" height="61" class="logo logo-solo">
  <ul class="nav navbar-nav" ng-click="toggleMenu($event)">
    <li ng-repeat="(elementlink, elementValue) in menuElements">
      <button ng-click="scrollToSection(elementlink, $event)">{{elementValue}}</button>
    </li>
  </ul>
</header>