<section class="content">
  <section class="col-50">
    <div class="col-vertical-50">
      <div class="vertical-center">
        <h1>
          Firma
          <span class="break-span color-blue">po godzinach</span>
        </h1>
      </div>
    </div>
    <div class="col-vertical-50">
      <div class="vertical-center">
        <h2>Gramy w najlepszej lidze</h2>
        <p class="opacity-50">Poznaj naszych partnerów:</p>
        <div class="partners">
          <div class="col-50" ng-repeat="partner in partners">
            <img ng-src="../images/partners/{{partner}}.png" alt="partner logo - {{partner}}" >
          </div>
        </div>
      </div>
    </div>
  </section><section class="col-50">
  <div class="col-vertical-75">
    <div class="vertical-push-50">
      <div class="col-80">
        <h1>Dołącz do innych i zaprojektuj swoją przyszłość</h1>
      </div>
    </div>
  </div>
  <div class="col-vertical-25">
    <div class="vertical-center">
      <div class="col-80">
        <h2>Bądź w kontakcie:</h2>
        <a href="#">
          <span class="icon-social-twitter"></span>
        </a>
        <a href="#">
          <span class="icon-social-facebook"></span>
        </a>
        <a href="#">
          <span class="icon-social-linkedin"></span>
        </a>
      </div>
    </div>
  </div>
  </section>
</section>
<div class="background-section">
  <div class="col-50">
    <div class="col-vertical-50 dark"></div>
    <div class="col-vertical-50 blue"></div>
  </div><div class="col-50">
  <div class="col-vertical-75"></div>
  <div class="col-vertical-25 dark"></div>
  </div>
</div>