<ul rn-carousel rn-carousel-index="carouselIndexAbout" rn-carousel-buffered rn-carousel-controls class="carousel">
  <li ng-repeat="slide in slides track by slide.id">
    <section class="content">
      <div class="about-wrapper">
        <div class="about-content">
          <div>
            <h1>{{slide.name}}</h1>
            <h2>{{slide.subname}}</h2>
          </div>
          <div class="overflow-auto">
            <p>{{slide.content}}</p>
          </div>
        </div>
      </div>
    </section>
    <div class="background-image" ng-style="{'background-image': 'url(../images/about/' + slide.img +'.png)'}"></div>
  </li>
</ul>