<section class="content">
  <h1>
    Rozwiązania
    <span class="color-blue break-span">dla Ciebie</span>
  </h1>
  <p>
    <strong>Najlepsze wyniki finansowe zawsze osiągane są dzięki długofalowej i indywidualnej strategii inwestycyjnej. Dlatego też projekt Emerytura Dla Sportowca.PL w pełni koncentruje się na wymaganiach i oczekiwaniach sportowców.</strong>
  </p>
  <p>Dzięki temu nasi Klienci mają gwarancję, że wszystkie ich decyzje finansowe będą zgodne z ich założeniami. Wyjątkowi Klienci wymagają wyjątkowego traktowania. Dlatego  przygotowaliśmy program rozwoju finansowego dla sportowców, który umożliwi płynne przejście na sportową emeryturę tak, żeby nie była ona szokiem, tylko naturalnym etapem. Korzystając z wieloletnich doświadczeń i wiedzy naszych ekspertów oferujemy konstruowanie indywidualnych rozwiązań finansowych, które pozwolą wykręcić najlepsze wyniki nie tylko na obiektach sportowych, ale przede wszystkim we własnym portfelu finansowym.</p>
  <p class="col-50">Korzystając z programu <strong>Emerytura Dla Sportowca.PL</strong> zobaczysz szeroką gamę sposobów lokowania oraz oszczędzania pieniędzy. Pokażemy Ci jak efektywnie zarządzać pieniądzem, jak również będziemy dbali o to aby rozwijać Twoją świadomość finansową, tak abyś czerpał jak najwięcej korzyści z rynku finansowego. Do dyspozycji mamy produkty i oferty wszystkich banków i towarzystw ubezpieczeniowych w Polsce. Kilkaset produktów segmentu Private Banking w jednym miejscu.</p><p class="col-50">Na co dzień zbyt wiele spraw nie pozwala nam w pełni skupić się na tym co będzie po zakończeniu kariery. Kolejne mecze, treningi, powołania, czy zawody,  sprawiają, że myślenie o tym co będzie kiedyś schodzi na dalszy plan. Dlatego też misją <strong>Emerytury Dla Sportowca.PL</strong> jest uświadamianie, że przy odpowiednim podejściu przejście na emeryturę może być „miękkim lądowaniem” a nie upadkiem z wysokości.</p>

  <h2>Zaufaj nam już dziś i sprawdź co powinieneś zrobić ,aby dołączyć do grona sportowców, którzy kończąc kariery mają zbudowany własny portfel inwestycyjny składający się z:</h2>

  <ul class="col-50">
    <li>
      <p>depozytów i oszczędności</p>
    </li>
    <li>
      <p>nieruchomości prywatnych na wynajem</p>
    </li>
    <li>
      <p>nieruchomości komercyjnych</p>
    </li>
  </ul><ul class="col-50">
  <li>
    <p>nieruchomości w miejscach turystycznych</p>
  </li>
  <li>
    <p>inwestycji średnioterminowych</p>
  </li>
  <li>
    <p>inwestycji długofalowych</p>
  </li>
  </ul>
</section>