<ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-auto-slide rn-carousel-buffered class="carousel">
  <li ng-repeat="slide in slides track by slide.id">
    <div class="quote-text-wrapper">
      <div class="quote-text">
        <h1>{{slide.quote}}</h1>
        <p>
          <strong>{{slide.name}}</strong><span class="icon-dot"></span><span>{{slide.profession}}</span>
        </p>
      </div>
    </div>
    <div ng-style="{'background-image': 'url(../images/quotes/'+ slide.img +'.jpg)'}" class="bg-image"></div>
    <div class="bg-overlay"></div>
  </li>
</ul>
<ul class="rn-carousel-indicator custom-indicator">
  <li class="carousel-indicator"
      ng-repeat="slide in slides" 
      ng-class="{active: $index==$parent.carouselIndex}" 
      ng-click="$parent.carouselIndex = $index" 
      ng-style="{'background-image': 'url(../images/quotes/indicator-' + slide.img + '.jpg)'}">
    <div class="bg-overlay"></div>
  </li>
</ul>
