<section class="content">
  <h1>
    Polecają nas
    <span class="break-span color-blue">najlepsi</span>
    <span class="break-span color-blue">gracze</span>
  </h1>
</section>
<h1>{{carouselIndexRecomendation}}</h1>
<ul rn-carousel rn-carousel-index="carouselIndexRecomendation" rn-carousel-easing="easeInOutQuad" rn-carousel-controls class="carousel">
  <li ng-repeat="slide in slides track by slide.id"
      ng-class="{active: $index==$parent.carouselIndexRecomendation}" class="carousel-slide">
    <section class="content">
      <div class="recommendation-wrapper">
        <div class="recommendation">
          <div class="person-circle">
            <img ng-src="../images/recommendation/{{slide.img}}.jpg" alt="image of {{slide.name}}" />
          </div>
          <h2>{{slide.name}}</h2>
          <p>
            <span class="break-span">{{slide.profession}}</span>
            <span ng-if="slide.club">{{slide.club}}</span>
            <span class="break-span" ng-if="slide.club === ''"></span>
          </p>
        </div>
      </div>
      <div class="recommendation-wrapper second" ng-if="slide.name2">
        <div class="recommendation">
          <div class="person-circle">
            <img ng-src="../images/recommendation/{{slide.img2}}.jpg" alt="image of {{slide.name2}}" />
          </div>
          <h2>{{slide.name2}}</h2>
          <p>
            <span class="break-span">{{slide.profession2}}</span>
            <span ng-if="slide.club2">{{slide.club2}}</span>
            <span class="break-span" ng-if="!slide.club2">&nbsp;</span>
          </p>
        </div>
      </div>
    </section>
  </li>
</ul>