<section class="content">
  <div class="col-50 flex">
    <h1>Czym jest <span class="color-blue"><span class="break-span">emerytura</span> dla sportowca?</span></h1>
    <div class="overflow-auto">
      <div class="clearfix">
        <p><strong>Emerytura dla sportowca to profesjonalna agencja finansowa zajmująca się zabezpieczeniem płynności finansowej swoich klientów.</strong></p>
        <p>Kariera sportowa nie trwa wiecznie dlatego warto mieć konkretny plan, który w pełni zabezpieczy przyszłość finansową. Nowoczesne oszczędzanie i inwestowanie na emeryturę polega na podejmowaniu większej odpowiedzialności za swoje finanse. Korzystamy z narzędzi inwestycyjnych, które chronią nasze oszczędności przed nadmiernym opodatkowaniem oraz aktywnie poruszamy się po rynku nieruchomości, inwestycji deweloperskich czy inwestycji w grunty.</p>
      </div>
    </div>
  </div>
</section>

<div class="person-wrapper" person-opacity-scroll style="height: {{personWrapperHeight}}">
  <img preload-image ng-src="../images/bg-person1-mask.png" alt="person 1" />
  <img preload-image ng-src="../images/bg-person1.png" alt="person 1 onscroll showing" class="onscroll-show" />
</div>